* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #222;
}

.todo-container {
    width: 90%;
    max-width: 700px;
    margin: 50px auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}


/* Add Task */

.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.task-input input {
    flex: 1;
    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 16px;
}

.task-input button {
    padding: 12px 20px;

    border: none;
    border-radius: 6px;

    background: #0F766E;
    color: white;

    cursor: pointer;
}

.task-input button:hover {
    background: #1d4ed8;
}


/* Sections */

.task-section {
    background: white;

    padding: 20px;
    margin-bottom: 20px;

    border-radius: 8px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}

.section-header h2 {
    font-size: 20px;
}

.section-header span {
    font-size: 14px;
    color: #666;
}


/* Task list */

ul {
    list-style: none;
}


/* Individual task */

.task-item {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 12px;

    border-bottom: 1px solid #eee;
}

.task-text {
    flex: 1;
}


/* Completed task */

.completed .task-text {
    text-decoration: line-through;
    color: #888;
}


/* Buttons */

.task-item button {
    border: none;
    padding: 6px 10px;

    border-radius: 5px;

    cursor: pointer;
}

.edit-btn {
    background: #facc15;
}

.delete-btn {
    background: #ef4444;
    color: white;
}


/* Timestamp */

.task-time {
    font-size: 12px;
    color: #999;
}


/* Empty messages */

.empty-message {
    color: #888;
    text-align: center;
    padding: 15px;
}